.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #362740;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
  }
  
  .navbar-logo {
    margin-right: auto;
  }
  
  .navbar-logo-image {
    height: 50px;
  }
  
  .navbar-link {
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    text-decoration: none;
  }
  
  .navbar-dropdown-menu {
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
  }
  
  .navbar-dropdown-items {
    padding: 0.5rem;
  }
  
  .navbar-dropdown-item {
    font-size: 0.9rem;
    margin: 0.25rem;
  }

  .navbar-dropdown-menu {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .navbar-dropdown-toggle {
    padding: 10px;
    margin-right: 30px;
    color: white;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  

  
  .navbar-dropdown-item {
    color: white;
    font-size: 0.9rem;
    margin: 0.25rem;
  }
  
  .navbar-dropdown-menu.show .dropdown-toggle::after {
    transform: rotate(-180deg);
  }

  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}